{% extends 'layouts/master.njk' %}

{% block content %}

    <div id="videocall-container">

        <section id="videos-container" class="col-flex-3-4">
            <div id="videos-wrapper" class="card-panel">
                <video id="localVideo" class="videocallLocal video-fullscreen" autoplay muted></video>
                <video id="remoteVideo" class="videocallRemote video-hidden" autoplay muted></video>
            </div>
        </section>

        <section id="conversation-container" class="col-flex-1-4">
            {% include "partials/_conversation_header_files.njk" %}

            {% include "partials/_conversation_files_container.njk" %}
        </section>

    </div>

    <script>
        var user_id = {{ currentUser.id }};
        var conversation_id = 1;
        var user_name = "{{ currentUser.getFullName() }}";
    </script>

    <script src="/js/app/videocall.js"></script>

{% endblock %}