{% extends 'layouts/master.njk' %}

{% block content %}

    <div id="videocall-container">

        <section id="videos-container">
            <video id="localVideo" class="videocallLocal" autoplay muted></video>
            <video id="remoteVideo" class="videocallRemote" autoplay muted></video>
        </section>

        <section id="conversation-container">
            <input type="file" id="dataChannelSend" name="files[]">

            <button id="send-button">Send</button>

            <div id="files-container"></div>
        </section>


    </div>

    <script src="/js/app/videocall.js"></script>

{% endblock %}