#conference-container
  display: flex

  #videos-container
    flex: 3

    display: flex
    flex-wrap: wrap

    max-height: 88vh
    padding: 0
    margin-bottom: 0

    border: 1px solid #ccc

    .conference-video
      flex: 1
      flex-basis: 48%
      max-height: 40vh
      margin: 5px

    video
      border-radius: 0
      margin: 0
      border: 0
      box-shadow: none


@media screen and (max-width: 750px)
  #conference-container
    flex-direction: column