.profile-box
  display: flex
  align-items: center
  justify-content: center
  height: 100%

  #profile-picture
    flex-basis: 50%

    img
      width: 100%

  #profile-info
    display: flex

    flex-basis: 50%

    #profile-name


