#videocall-container
	display: flex
	overflow-y: hidden

	#videos-container
		max-height: 90vh

		#videos-wrapper
			//margin-right: 2%
			display: flex
			height: 88vh
			padding: 0
			position: relative
			text-align: center

			video
				margin: 0 !important
				border-radius: 0

			.video-fullscreen
				max-height: 88vh
				width: 100%
				margin: 0 auto

			.video-small
				width: 20vh
				position: absolute
				top: 20px
				right: 20px

			.video-hidden
				display: none


#conversation-container
	max-height: 90vh
	overflow-x: hidden
	overflow-y: hidden

	.conversation-files-wrapper
		display: none

	.single-file
		cursor: pointer

	.message-box
		font-size: 15px

	#file-upload-container
		display: flex

		.btn
			background-color: $flat-blue

		#show-files-header
			display: flex

			#show-files-btn
				margin-left: auto
				flex-basis: 20%


@media screen and (max-width: 750px)
	#videocall-container
		flex-direction: column

	.video-small
		height: 20vh !important