#videocall-container
	display: flex
	align-items: center


	#videos-container
		flex-basis: 70%

		.videocallLocal, .videocallRemote
			max-width: 20%


	#conversation-container
		flex-basis: 30%
		background: white

