<div id="conversation-header-alert">

    <div id="alert-call"> Ongoing call..</div>

    <div id="call-answer"><i class="fa fa-phone" aria-hidden="true"></i></div>

    <i id="call-reject" class="material-icons">call_end</i>

</div>
