$primary: #34B7F1
$secondary: #4183D7

$background: #F2F2F2
$flat-blue2: #0B93F6
$flat-blue: #34B7F1
$flat-green: #0cb757

$danger: #FF1300

$grey : #919191
$accent : #0B93F6
$accent-darker1 : #ff4c11
$accent-darker2 : #ff2a11
$accent-darker3 : #ff1a11
$black: #484848
$success: #00AA00
$error: #cc0000
$border: #eee
$disabled: #EBEBE4