/* apply a natural box layout model to all elements, but allowing components to change */
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body 
  color: $black
  font-family: 'Source Sans Pro', sans-serif
  background-color: $background

img 
  max-width: 100%


.errors 
  li
    line-height: 26px
    color: red
  
div.dragged
	cursor: all-scroll !important
	border-color: blue !important
	z-index: 10 !important


#content
  display: flex
  flex-direction: column


.intro-text
  font-size: 45px
  font-family: Roboto, Helvetica, Arial, "Lucida Grande", sans-serif
  line-height: 50px
  word-spacing: 3px
  letter-spacing: 3px
  color: #666666
  font-weight: 200

  margin-top: 50px

