<div id="persons-search">
    <input type="text" id="persons-filter" name="persons-filter" placeholder="Search persons..">
</div>

<div id="persons-list">
    {% for rows in persons | batch(4) %}

        <div class='persons row'>

            {% for person in rows %}

                <div class='person-box col s12 m6 l3'>

                    <div class="person-profile">
                        <!-- TODO: check if user has profile picture set !-->
                        <img src="/img/profile.jpg">
                    </div>

                    <div class="person-info">
                        <div class="person-name">
                            <a href="#modal" id="{{ person.id }}" class="modal-trigger">
                                {{ person.first_name }} {{ person.last_name }}
                            </a>
                        </div>
                    </div>

                </div>

            {% endfor %}

        </div>

    {% endfor %}
</div>
