<!-- Modal Structure -->
<div id="modal" class="modal modal-fixed-footer">
    <div class="profile-box">

        <div id="profile-picture">
            <img src="/img/profile.jpg">
        </div>

        <div id="profile-info">
            <div id="profile-name"></div>

            <div class="btn" id="areFriends"> Unfriend </div>
            <div class="btn" id="areNotFriends"> Add friend </div>
        </div>

    </div>
</div>