.margin-t-50 {
  margin-top: 50px; }

.col-flex-3-4 {
  flex-basis: 75%;
  flex-grow: 3;
  flex-shrink: 1; }

.col-flex-1-4 {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 3; }

.hidden {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #484848;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F2F2F2;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.errors li {
  line-height: 26px;
  color: red; }

div.dragged {
  cursor: all-scroll !important;
  border-color: blue !important;
  z-index: 10 !important; }

#content {
  display: flex;
  flex-direction: column; }

.intro-text {
  font-size: 45px;
  font-family: Roboto, Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 50px;
  word-spacing: 3px;
  letter-spacing: 3px;
  color: #666666;
  font-weight: 200;
  margin-top: 50px; }

header {
  height: 10vh;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff; }
  header .logo {
    float: left; }
    header .logo a:hover {
      text-decoration: none !important; }
  header .menu {
    float: right;
    height: 10vh; }
    header .menu > ul li {
      position: relative;
      float: left; }
      header .menu > ul li:before {
        border-right: 1px solid rgba(0, 0, 0, 0.075);
        content: "";
        height: 1.75rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0; }
      header .menu > ul li:first-child:before {
        display: none; }
    header .menu > ul a {
      font-family: 'Hanken', sans-serif;
      display: inline-block;
      color: #919191;
      padding: 0 22px;
      font-size: 16px;
      line-height: 10vh; }
      header .menu > ul a:hover {
        color: #ff4d55; }

.logo h1 a {
  color: #000;
  line-height: 10vh;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif; }

.banner {
  background-color: #fbfbfb;
  padding: 10vh 0;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25); }

.page-title {
  padding: 70px 0;
  position: relative;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9; }
  .page-title .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 0; }
  .page-title h1, .page-title a {
    position: relative;
    z-index: 1; }
  .page-title a.add {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px; }
  .page-title.with-image {
    padding: 120px 0; }
    .page-title.with-image h1 {
      color: #fff; }
  .page-title > input[type="text"] {
    width: 500px;
    position: relative;
    margin: 20px auto 0; }

#register {
  margin-top: 30px; }

.register-panel {
  margin-top: 100px; }

.friend-box {
  width: 150px;
  font-size: 18px;
  font-family: roboto;
  font-weigth: 400;
  color: #456ec9; }

.profile-box {
  margin: 20%; }

.conversations-content {
  display: flex;
  max-height: 90vh; }

.conversation-wrapper, .conversation-files-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  margin-left: 2%;
  height: 88vh;
  overflow: auto;
  padding: 0; }
  .conversation-wrapper .conversation-header, .conversation-wrapper .conversation-footer, .conversation-files-wrapper .conversation-header, .conversation-files-wrapper .conversation-footer {
    min-height: 50px; }
  .conversation-wrapper .conversation-header, .conversation-files-wrapper .conversation-header {
    border-bottom: 2px solid #939393; }
  .conversation-wrapper .conversation-body, .conversation-wrapper .conversation-files-body, .conversation-files-wrapper .conversation-body, .conversation-files-wrapper .conversation-files-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .conversation-wrapper .conversation-body #conversation-alert, .conversation-wrapper .conversation-files-body #conversation-alert, .conversation-files-wrapper .conversation-body #conversation-alert, .conversation-files-wrapper .conversation-files-body #conversation-alert {
      position: absolute; }
  .conversation-wrapper .conversation-footer, .conversation-files-wrapper .conversation-footer {
    margin-top: 20px; }

.conversations-list {
  order: -1;
  display: flex;
  flex-direction: column;
  height: 88vh;
  overflow: auto;
  margin-left: 2%;
  border-style: solid;
  border-right-width: medium;
  background-color: #434753; }
  .conversations-list .card-panel {
    margin: 0 !important;
    padding: 15px !important; }
  .conversations-list .conversation-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    font-size: 16px; }
    .conversations-list .conversation-item:hover {
      cursor: pointer; }

.conversation-header {
  display: flex;
  flex-direction: column; }
  .conversation-header #conversation-header-main {
    display: flex;
    min-height: 50px; }
    .conversation-header #conversation-header-main #conversation-head {
      margin-left: auto;
      margin-right: auto;
      flex-grow: 3;
      display: flex;
      align-items: center;
      justify-content: center; }
      .conversation-header #conversation-header-main #conversation-head #conversation-name {
        color: #0B93F6; }
      .conversation-header #conversation-header-main #conversation-head #conversation-status {
        margin-left: 10px;
        color: #36D7B7; }
    .conversation-header #conversation-header-main #conversation-buttons {
      margin-left: auto;
      flex-grow: 1;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .conversation-header #conversation-header-main #conversation-buttons #conversation-video, .conversation-header #conversation-header-main #conversation-buttons #conversation-voice, .conversation-header #conversation-header-main #conversation-buttons #conversation-profile {
        flex-basis: 0;
        flex-grow: 1;
        cursor: pointer; }
        .conversation-header #conversation-header-main #conversation-buttons #conversation-video .material-icons, .conversation-header #conversation-header-main #conversation-buttons #conversation-voice .material-icons, .conversation-header #conversation-header-main #conversation-buttons #conversation-profile .material-icons {
          color: #0B93F6; }
  .conversation-header #conversation-header-alert {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: #434753;
    color: white;
    display: none; }
    .conversation-header #conversation-header-alert #alert-call {
      vertical-align: middle;
      text-align: center;
      line-height: 50px;
      flex-basis: 70%; }
    .conversation-header #conversation-header-alert #call-answer, .conversation-header #conversation-header-alert #call-reject {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      vertical-align: middle;
      color: white;
      border-radius: 100%;
      cursor: pointer; }
    .conversation-header #conversation-header-alert #call-answer {
      background-color: #4CD964;
      margin-right: 25px; }
    .conversation-header #conversation-header-alert #call-reject {
      background-color: #F22613;
      margin-left: 25px; }

.conversation-footer {
  border-top: 2px solid #939393;
  margin-bottom: 0;
  display: flex; }
  .conversation-footer #enter-message {
    border: 0;
    margin: 0;
    color: black;
    font-size: 19px;
    resize: none;
    height: auto !important;
    outline: none;
      outline-box-shadow: none;
    flex-basis: 90%; }
    .conversation-footer #enter-message::-webkit-input-placeholder {
      color: #939393;
      font-size: 16px; }
    .conversation-footer #enter-message:focus {
      border-bottom: 0 !important;
      box-shadow: none !important; }
  .conversation-footer #submit-message {
    flex-basis: 10%;
    background-color: #0B93F6; }

#videocall-container {
  display: flex; }
  #videocall-container #videos-container {
    max-height: 90vh; }
    #videocall-container #videos-container #videos-wrapper {
      height: 88vh;
      padding: 0;
      position: relative;
      text-align: center; }
      #videocall-container #videos-container #videos-wrapper video {
        margin: 0 !important;
        border-radius: 0; }
      #videocall-container #videos-container #videos-wrapper .video-fullscreen {
        max-height: 88vh;
        width: 100%;
        margin: 0 auto; }
      #videocall-container #videos-container #videos-wrapper .video-small {
        width: 20vh;
        position: absolute;
        top: 20px;
        right: 20px; }
      #videocall-container #videos-container #videos-wrapper .video-hidden {
        display: none; }

#conversation-container {
  max-height: 90vh; }
  #conversation-container .conversation-files-wrapper {
    display: none; }
  #conversation-container .single-file {
    cursor: pointer; }
  #conversation-container .message-box {
    font-size: 15px; }
  #conversation-container #file-upload-container {
    display: flex; }
    #conversation-container #file-upload-container #dataChannelSend {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
      #conversation-container #file-upload-container #dataChannelSend + label {
        margin-right: auto;
        height: 36px;
        max-width: 200px;
        overflow: hidden;
        font-size: 1.25em;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.625rem 1.25rem;
        color: #0B93F6;
        border: 2px solid currentColor;
        display: inline-block;
        cursor: pointer; }
      #conversation-container #file-upload-container #dataChannelSend + label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em; }
      #conversation-container #file-upload-container #dataChannelSend:focus + label {
        outline: 1px dotted #000; }
      #conversation-container #file-upload-container #dataChannelSend:focus + label, #conversation-container #file-upload-container #dataChannelSend + label:hover {
        color: #8E8E93; }
    #conversation-container #file-upload-container .btn {
      background-color: #0B93F6; }
    #conversation-container #file-upload-container #show-files-header {
      display: flex; }
      #conversation-container #file-upload-container #show-files-header #show-files-btn {
        margin-left: auto;
        flex-basis: 20%; }

#conference-container {
  display: flex; }
  #conference-container #videos-container {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    min-height: 88vh;
    padding: 0; }
    #conference-container #videos-container .conference-video {
      flex: 1;
      flex-basis: 48%;
      max-height: 40vh;
      margin: 5px; }
    #conference-container #videos-container video {
      border-radius: 0;
      margin: 0;
      border: 0;
      box-shadow: none; }
  #conference-container #conversation-container {
    flex: 1; }

video {
  min-width: 200px;
  display: inline;
  margin: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

#videoList {
  margin-top: 50px; }

.form-header {
  font-size: 24px; }

.form-error {
  color: #ff0000; }

.message-box {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 5px;
    margin-bottom-line-height: 24px; }

.message-user {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  margin-right: 5%;
  margin-left: auto; }
  .message-user:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    transform: translate(0, -2px); }
  .message-user:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    transform: translate(-30px, -2px); }

.message-other {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  margin-left: 5%;
  margin-right: auto; }
  .message-other:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    transform: translate(0, -2px); }
  .message-other:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    transform: translate(-30px, -2px); }

.message-emitter {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 200;
  margin-left: 5%;
  margin-right: auto; }

.file-bubble {
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: normal;
  max-width: 80%;
  word-wrap: break-word;
  line-height: 15px;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%; }

.file-bubble-download {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #03C9A9;
  border-radius: 25px; }

.file-bubble-resume {
  position: relative;
  padding: 10px 20px;
  color: black;
  background: #D24D57;
  border-radius: 25px; }

.flash-message {
  padding: 15px 25px;
  color: white;
  background: #007AFF;
  border-radius: 25px;
  font-family: "Helvetica Neue";
  font-size: 19px;
  font-weight: 200;
  line-height: 19px; }
