{% extends 'layouts/master.njk' %}

{% block content %}

    <div class="chat">
      <input type="text" placeholder="Enter your name" class="chat-name">
      <div class="chat-messages"></div>
      <textarea placeholder="Type your message"></textarea>
      <div class="chat-status">Status: <span>Idle</span></div>
    </div>
   
    <script src="js/chat/index.js"></script>

{% endblock %}