{% extends 'layouts/master.njk' %}

{% block content %}

  	<div class="container">
	    <button class="btn" id="register">
	        <span>Register</span>
	    </button>

	    <div id="videoList"></div>
	</div>

	<script src="js/conference/index.js"></script>
	<script src="js/conference/participants.js"></script>
 
{% endblock %}
