{% extends 'layouts/master.njk' %}

{% block content %}

	<input type="hidden" id="_user_id" value="{{ currentUser.id }}">
	<input type="hidden" id="_user_name" value="{{ currentUser.getFullName() }}">

	<div id="conference-container">
		<section id="videos-container" class="col-flex-3-4 card-panel"></section>

		<section id="conversation-container" class="col-flex-1-4">
        	{% include "partials/__conversation_without_header.njk" %}
		</section>
	</div>

	<script src="/js/app/conference.js"></script>
 
{% endblock %}
