{% extends 'layouts/master.njk' %}

{% block content %}

  	<div class="container">
	   
	    <div id="videoList"></div>
	    
	</div>

	<script src="/js/app/conference.js"></script>
 
{% endblock %}
