<nav>
    <div class="container nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <div class="logo brand-logo">
            <h1><a href="/">Instant</a></h1>
        </div>

        <div class="menu">
            <ul class="right hide-on-med-and-down">
                {% if not currentUser %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% else %}
                    <li><a href="/friends">Friends</a></li>
                    <li><a href="/conversation">Conversations</a></li>

                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>

            <ul class="side-nav" id="mobile-demo">
                {% if not currentUser %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% else %}
                    <li><a href="/friends">Friends</a></li>
                    <li><a href="/conversation">Conversations</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>