<header>
    <div class="container">
        <div class="logo">
            <h1><a href="/">Instant</a></h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="login">Register</a></li>

                <li>To add session verification</li>

                <li><a href="friends">Friends</a></li>

                <li>a href="conference">Conferences</a><li>
                <li>a href="videocall">Videocall</a><li>

            </ul>
        </div>
    </div>
</header>