{% extends 'layouts/master.njk' %}

{% block content %}

    <div id="landing">
        <div id="landing-text" class="intro-text row">
            <div class="center-align">
                Instant. Realtime communication
            </div>
        </div>

        <div id="landing-btn">
            <a href="/register">
                Join your friends
            </a>
        </div>
    </div>

  
{% endblock %}
