{% extends 'layouts/master.njk' %}

{% block content %}

    <div id="persons-content" class="card-panel">
        <div id="tab-header">
            <a href="/friends" id="friends-tab"> Friends </a>

            <a href="/people" id="people-tab" class="active"> People </a>
        </div>

        {% include 'partials/friends/listing.njk' %}
    </div>

    {% include 'partials/friends/modal.njk' %}

    <script src="/js/app/friends.js"></script>

{% endblock %}
